body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

.background {
  background: linear-gradient(180deg, #BCF0F6 0%, #D9F5F8 49%);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Estilizando a imagem */
.imagem-opaca {
    position: fixed; /* A imagem permanece fixa na tela */
    top: 50%; /* Coloca a imagem no centro verticalmente */
    left: 50%; /* Coloca a imagem no centro horizontalmente */
    transform: translate(-50%, -50%); /* Centraliza a imagem */
    opacity: 0.3; /* Opacidade da imagem (valor entre 0 e 1) */
}

.load {
    height: 32px;
    min-width: 36px;
    opacity: 0.3; /* Opacidade da imagem (valor entre 0 e 1) */
}

.bordo{
  color: #74140c;
}
